<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <style>
    /* Basic CSS styling for the form */
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    h2 {
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="password"],
    button {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button {
      background-color: #4CAF50;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    .message {
      text-align: center;
      margin-top: 10px;
    }

    .error_message {
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" id="password" placeholder="Enter your new password">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" placeholder="Confirm your new password">
    </div>
    <button onclick="resetPassword()">Reset Password</button>
    <p class="message" id="message"></p>
  </div>

  <script>
    document.addEventListener('focus', handleFocus, true);
    function handleFocus(event){ showMessage("", false); };

    async function resetPassword() {
      // Get the password and confirm password values
      const user_id = "<%= user_id %>";
      const email = "<%= email %>";
      var passwordInput = document.getElementById('password');
      var confirmPasswordInput = document.getElementById('confirm-password');

      let data = {
        user_id,
        email,
        password: passwordInput.value,
        confirmPassword: confirmPasswordInput.value,
      };

      fetch("http://localhost:5000/api/v1/reset-password", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        credentials: 'same-origin'
      }).then((response) => {
        if (response.ok) return response.json();
        return Promise.reject(response);
      }).then((responseJson) => {
        showMessage('Password reset successful');
      }).catch((error) => {
        if(error.status === 401) return showMessage('Password does not match confirm password', true);
        if(error.status === 404) return showMessage('User not found', true);
      });
    }

    function showMessage(message, error = false) {
      let messageElement = document.getElementById('message');
      messageElement.innerHTML = message;
      if(error) messageElement.classList.add("error_message");
      if(!error && messageElement.classList.contains("error_message")) messageElement.classList.remove("error_message")
    }
  </script>
</body>
</html>