<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <style>
    /* Basic CSS styling for the form */
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    h2 {
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="password"],
    button {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button {
      background-color: #4CAF50;
      color: #fff;
      cursor: pointer;
    }

    .button:active:hover:not([disabled]) {
      background-color: #45a049;
    }

    button[disabled=disabled], button:disabled {
      cursor: default;
      opacity: 0.7;
    }

    .message {
      text-align: center;
      margin-top: 10px;
    }

    .error_message {
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" id="password" placeholder="Enter your new password">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" placeholder="Confirm your new password">
    </div>
    <button id="button" onclick="resetPassword()">Reset Password</button>
    <p class="message" id="message"></p>
  </div>

  <script>
    document.addEventListener('focus', handleFocus, true);
    function handleFocus(event){ showMessage("", false); };

    function getTokenId() {
      try {
        const url = window.location.href;
        const urlObj = new URL(url);
        const searchParams = new URLSearchParams(urlObj.search);
        const token = searchParams.get("token");
        return token;
      } catch (error) {
        console.log(error);
      };
    };

    async function resetPassword() {
      // Get the password and confirm password values
      const tokenId = getTokenId();
      const user_id = "<%= user_uuid %>";
      const email = "<%= email %>";
      var passwordInput = document.getElementById('password');
      var confirmPasswordInput = document.getElementById('confirm-password');

      let data = {
        tokenId,
        user_id,
        email,
        password: passwordInput.value,
        confirmPassword: confirmPasswordInput.value,
        reference_token: tokenId
      };

      fetch("http://localhost:5000/api/v1/auth/reset-password", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        credentials: 'same-origin'
      }).then((response) => {
        if (response.ok) return response.json();
        return Promise.reject(response);
      }).then((responseJson) => {
        const error = false;
        const disable = true;
        showMessage('Password reset successful', error, disable);
      }).catch((error) => {
        if(error.status === 401) return showMessage('Password does not match confirm password', true);
        if(error.status === 404) return showMessage('User not found', true);
      });
    }

    function showMessage(message, error = false, disable = false) {
      let messageElement = document.getElementById('message');
      messageElement.innerHTML = message;
      if(error) messageElement.classList.add("error_message");
      if(!error && messageElement.classList.contains("error_message")) messageElement.classList.remove("error_message");
      if(disable) document.getElementById("button").disabled = disable;
    }
  </script>
</body>
</html>