@mixin flex_avatar(){
  width: 7%;  
  height: 4.2vh;
  max-height: 100%;
  border-radius: 100%;
};

@mixin animate($animation,$duration,$method,$times){
  animation: $animation $duration $method $times;
}

@mixin keyframes($name){
  @keyframes #{$name}{
      @content;
  }
}

.feed-container{
  display: inherit;
  align-items: center;
  flex-direction: column;
  padding: 3vh 0 3vh 0;
  height: 100%;
  width: 100%;

  .img-loading{
    width: 30px;
    @include keyframes(loading){
        from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    @include animate(loading, 2s, linear, infinite);
  }
  
   // PostCard.tsx
  .post-card-container{
    border: 1px solid #ccc;
    width: 35%;
    border-radius: 2%;
    box-shadow: 0 0 4px 0 rgb(177, 177, 177);
    margin-bottom: 20px;
    
    .post-card__header{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1%;
      padding: 1%;

      .post-card__header-avatar{
        @include flex_avatar();
      }

      .post-card__header-settings{
        margin-left: auto;
        width: 3%;
      }
    }

    .post-card__body{
      border-top: 1px solid #ccc;

      .post-card__body-post{
        max-width: 100%;
        height: 60vh;
        max-height: 100%;
      }

      .post-card__body-icons-container{
        display: flex;
        gap: 0.5vw;
        padding: 0 0.5vw 0 0.5vw;
        img{
          max-width: 4.5%;
        }

        :nth-child(3){
          max-width: 4%;
        }

        :nth-child(4){
          margin-left: auto;
        }
      }
    }

    .post-card__details{
      padding: 1% 0.5vw;

      .post-card__details-meta{
        color: #9c9c9c;
        p:nth-child(2){
          margin-top: 1%;
          font-size: 0.7em;
        }
      }
    }

    .post-card__comment{
      display:flex;
      gap: 1%;
      padding: 1% 0.5vw;
      align-items: center;
      border-top: 1px solid #ccc;

      img{
        width: 4%;
        height: 3vh;
        margin-right: 2%;
      }

      input{
        border: none;
        height: 3.2vh;
        flex: 1;
      }
    }
  } 
}
