.index__container{
  height: 100vh;  
  @include flexbox();
  
  .index__sidebar {
    @include device($breakpoint-md) {
      order: 1;
      width: 70px;
    }

    @include device($breakpoint-lg) {
      order: 1;
      width: 14vw;
    }
    .index__sidebar-container {
      position: relative;
      display: flex;
      flex-direction: row;
      order: 2;
      z-index: 1;

      @include device($breakpoint-md) {
        order: 1;
        width: 70px;
      }

      @include device($breakpoint-lg) {
        order: 1;
        width: 14vw;
      }
    }

    .index__sidebar-search-bar-active {
      position: relative;
      display: flex;
      flex-direction: row;
      order: 2;
      z-index: 1;

      @include device($breakpoint-lg) {
        order: 1;
        width: 70px;
      }
    }
  }

  @include device($breakpoint-md) {
    flex-direction: row;
  }
}
