.index__container{
  height: 100vh;  
  @include flexbox();

  .index__sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    order: 2;

    @include device($breakpoint-md) {
      order: 1;
      width: 70px;
    }

    @include device($breakpoint-xl) {
      order: 1;
      width: 14vw;
    }
  }

  @include device($breakpoint-md) {
    flex-direction: row;
  }
}
