.login__container {
  @include flexbox(center, center, column);
  height: 100vh;
  
  .login__wrapper {
    @include dimension(100%, 100%);
    @include max-dimension(350px, 300px);
    border: 1px solid $border-light-grey;
    margin-top: auto;

    .login__parent {
      @include dimension(100%, 100%);
      @include flexbox(center, center, column);
    };
  }; 
};