.profile{
  @include dimension(100%, 95vh);
  @include flexbox(center, center, column);
  flex: 1;
  order: 1;
  overflow-y: scroll;
  
  .profile__container {
    @include dimension(100%, 100%);
    @include max-dimension(100%, 100%);
    @include flexbox(flex-start, center, column);

    @include device($breakpoint-lg) {
      @include max-dimension(67%, 100%);
    };
  };

  @include device($breakpoint-md) {
    @include dimension(100%, 100vh);
    order: 2;
  };
};