.profile{
  flex: 1;
  order: 1;
  overflow-y: scroll;
  @include dimension(100%, 95vh);
  
  .profile__container {
    display: flex;
    flex-direction: column;
    @include dimension(100%, 100%);
  }

  @include device($breakpoint-md) {
    @include dimension(100%, 100vh);
    order: 2;
  }
}