
@mixin bordered($borderWidth, $borderColor) {
  border: $borderWidth solid $borderColor;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin text-styles($weight: normal, $size: 16px, $color: black) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin dimension($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin max-dimension($maxWidth: auto, $maxHeight: auto) {
  max-width: $maxWidth;
  max-height: $maxHeight;
}

@mixin flexbox($justifyContent: flex-start, $alignItems: flex-start, $direction: column) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

@mixin margin-x($marginLeft, $marginRight) {
  margin-left: $marginLeft;
  margin-right: $marginRight;
}

@mixin margin-y($marginTop, $marginBottom) {
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
}

@mixin margin($marginTop, $marginBottom, $marginLeft, $marginRight) {
  margin: $marginTop $marginRight $marginBottom $marginLeft;
}

@mixin padding-x($paddingLeft, $paddingRight) {
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
}

@mixin padding-y($paddingTop, $paddingBottom) {
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
}

@mixin padding($paddingTop, $paddingBottom, $paddingLeft, $paddingRight) {
  padding: $paddingTop $paddingBottom $paddingLeft $paddingRight;
}

@mixin modal($width: 100%, $height: 100vh) {
  @include dimension($width, $height);
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.5);
}

// usage: @include pseudo("", (top: 0, left: 0), 100px, 100px);
@mixin pseudo($content: "", $position: (), $width: auto, $height: auto) {
  content: $content;
  position: absolute;
  top: map-get($position, top);
  bottom: map-get($position, bottom);
  left: map-get($position, left);
  right: map-get($position, right);
  @include dimension($width, $height);
}

@mixin device($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// to determine which device viewport
@mixin device-helper() {
  @include device($breakpoint-xs) {
    background-color: lightblue; // For extra small screens
  }

  @include device($breakpoint-sm) {
    background-color: lightgreen; // For small screens
  }

  @include device($breakpoint-md) {
    background-color: lightyellow; // For medium screens
  }

  @include device($breakpoint-lg) {
    background-color: lightcoral; // For large screens
  }

  @include device($breakpoint-xl) {
    background-color: lightpink; // For extra large screens
  }
}