.recipients__container {
  padding: 0 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;

  .recipients__selected-person {
    cursor: pointer;
    margin: 0 1% 1% 1%;
    padding: 1.5% 2%;
    background-color: rgb(224,241,255);
    color: rgb(0, 149, 246);
    border-radius: 1.7vh;
    font-weight: 500;

    position: relative;
    display: flex;
    flex-basis: 0;
    align-items: center;

    p {
      margin: 0 0.6vh;
      line-height:0;
    }
  }

  :hover {
    p {
      color: rgb(4, 71, 116);
    }
  }

  input {
    outline: none;
    border: none;
    margin-left: 1%;
    flex: 1;
  }
}
