.profile-user-info{
  @include flexbox(center, center, column);
  @include dimension(100%, min-content);

  .profile-user-info-header {
    @include flexbox(flex-start, center, row);
    @include dimension(100%, auto);
    gap: 5vw;
    padding: 1em;
  }

  .profile-user-info-controls {
    flex: 1;
    min-width: fit-content;
  }
}