.profile-user-stats, .profile-user-stats-xs, .profile-user-stats-md {
  @include flexbox(space-around, center, row);
  @include dimension(100%, auto);
  padding: 0.8rem;

  > p:first-child{
    @include text-styles(700, 0.8rem);
  }

  > div:nth-child(n + 2) {
    cursor: pointer;
  }
};

.profile-user-stats-xs {
  @include device($breakpoint-md) {
    display: none; 
  }
}

.profile-user-stats-md {
  display: none; 
  @include device($breakpoint-md) {
    @include flexbox(space-between, flex-start, row);
    max-width: 300px;
    padding: 0;
    margin-top: 1rem;
  }
}