.profile-user-stats, .profile-user-stats-xs, .profile-user-stats-md {
  @include flexbox(space-around, center, row);
  height: 90%;
  padding: 0.8rem;

  > p:first-child{
    font-size: 0.8em;
    font-weight: 700;
  }

  > div:nth-child(n + 2) {
    cursor: pointer;
  }
};

.profile-user-stats-xs {
  @include device($breakpoint-md) {
    display: none; 
  }
}

.profile-user-stats-md {
  display: none; 
  @include device($breakpoint-md) {
    @include flexbox(space-between, flex-start, row);
    padding: 0;
    max-width: 300px;
    margin-top: 1rem;
  }
}