.chat__container-other{
  padding: 0.3%;
  
  .chat__viewed-conversation-other{
    height: 100%;

    .chat__message-container-other{
      display: flex;
      gap: 0.8%;
      align-items: center;

      .chat__user-picture-other{
        width: 4.6%;
        height: 29px;
        border-radius: 100%;
      }

      .chat__user-message-other{
        background-color: #1d75ee;
        border: 1px solid;
        border-radius: 15px;
        color: white;
        padding: 1%;
      }
    }

    .chat__message-status-other{
      font-size: 0.7rem;
    }
  }

  .chat__not-viewed-other{
    color: #ccc;
    font-size: 1.5rem;
    text-align: center;
  }
}

.chat__container-own{
  display: flex;
  justify-content: flex-end;
  padding: 0.3%;
  
  .chat__viewed-conversation-own{
    height: 100%;
    width: 100%;
    
    .chat__message-container-own{
      display: flex;
      gap: 0.8%;
      flex-direction: row-reverse;

      .chat__user-picture-own{
        width: 4.6%;
        height: 29px;
        border-radius: 100%;
      }

      .chat__user-message-own{
        background-color: #1d75ee;
        border: 1px solid;
        border-radius: 15px;
        color: white;
        padding: 1%;
      }
    }

    .chat__message-status-own{
      font-size: 0.7rem;
      text-align: end;
    }
  }
}

