.grid-post__container {
  display: grid;
  height: max-content;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 300px;
  grid-gap: 15px;
  width: 80%;
  margin: 10px auto;
  justify-content: center;

  .grid-post__card {
    position: relative;
    cursor: pointer;
    
    .grid-post__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .grid-post__image-hover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0);
    }

    .grid-post__image-hover-details{
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      color: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2%;

      img {
        width: 5%;
      }

      p {
        font-size: 3vh;
        color: white;
      }
    }

    &:hover .grid-post__image {
      opacity: 0.4;
    }
  }
}
