.picture {
  .pictures-hover-card {
    @include text-styles(bold, 16px, white);
    display: none;
    
    .pictures-hover__icon-heart {
      width: 20px;
      margin-right: 1vw;
    };
    
    .pictures-hover__icon-comment {
      @include dimension(30px, 20px);
      margin-right: 0.5vw;
    };
  };

  &:hover {
    .pictures-hover-card {
      display: flex;
      position: relative;
      z-index: 2;
    };

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: rgb(0, 0, 0, 0.4);
      @include dimension(100%, 100%);
    };
  };
};