.text-input__container {
  position: relative;
  width: 100%;
  

  @keyframes move-top {
    from {
      margin: 11px 0 0 0.35rem;
      font-size: 0.8rem;
    } to {
      margin: 0 0 0 0.35rem;
      font-size: 0.6rem;
    }
  }

  @keyframes move-down {
    from {
      margin: 11px 0 0 0.35rem;
      font-size: 0.6rem;
    } to {
      margin: auto 0.35rem;
    }
  }
  
  input {
    @include dimension(100%, 40px);
    @include padding(17px, 4px, 6px, 6px);
    position: relative;
    border: none;
    font-size: 15px;
    outline: 1px solid $outline-light-grey;
    background-color: $background-light-grey;
  }

  input:not(:focus) + label {
    animation: move-down 0.3s forwards;
  }

  input:focus + label {
    animation: move-top 0.3s forwards;
  }

  input:valid + label {
    animation: move-top 0.3s forwards;
  }

  input:-webkit-autofill ~ label {
    animation: move-top 0.3s forwards;
  }
}