.show-password {
  @include flexbox(center, center, column);
  @include text-styles(bold, 0.8rem);
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: max-content;
  cursor: pointer;
  user-select:none;
}