.show-password {
  @include flexbox(center, center, column);
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: max-content;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  user-select:none;
};