.new-message-wrapper {
  @include dimension(100%, 65%);
  @include max-dimension(500px, 500px);
  
  .new-message-container {
    @include flexbox(center, center, column);
    flex: 1;
    width: 100%;

    .new-message__search-bar {
      @include flexbox(center, center, row);
      @include dimension(100%, auto);
      padding: 2% 0.5%;
      border: 1px solid #ccc;

      label {
        @include flexbox(center, center, row);
        @include dimension(auto, 100%);
        font-weight: bold;
        flex: 1;
      }
    }

    button {
      @include dimension(95%, 8%);
      @include margin-y(3%, 3%);
      @include border-radius(11px);
      cursor: pointer;
      outline: none;
      border: none;
      color: white;
      font-weight: bold;
      background-color: $background-sky-blue;
    }

    button:disabled {
      background-color: $background-medium-grey;
      cursor: not-allowed;
    }
  }
}
