.scrollView {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollView::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
@media (min-width: xs) {
  * {
    font-size: 15px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.text-input__container {
  position: relative;
  width: 100%;
}
@keyframes move-top {
  from {
    margin: 11px 0 0 0.35rem;
    font-size: 0.8rem;
  }
  to {
    margin: 0 0 0 0.35rem;
    font-size: 0.6rem;
  }
}
@keyframes move-down {
  from {
    margin: 11px 0 0 0.35rem;
    font-size: 0.6rem;
  }
  to {
    margin: auto 0.35rem;
  }
}
.text-input__container input {
  width: 100%;
  height: 40px;
  padding: 17px 4px 6px 6px;
  position: relative;
  border: none;
  font-size: 15px;
  outline: 1px solid rgb(219, 219, 219);
  background-color: rgb(250, 250, 250);
}
.text-input__container input:not(:focus) + label {
  animation: move-down 0.3s forwards;
}
.text-input__container input:focus + label {
  animation: move-top 0.3s forwards;
}
.text-input__container input:valid + label {
  animation: move-top 0.3s forwards;
}
.text-input__container input:-webkit-autofill ~ label {
  animation: move-top 0.3s forwards;
}

.input-field-label {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0.35rem;
  font-size: 0.8rem;
  color: rgb(0, 149, 246);
  pointer-events: none;
  user-select: none;
}

.field-error-message {
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  width: 100%;
  font-size: 0.75rem;
  user-select: none;
  padding-right: 2px;
}

.show-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: max-content;
  cursor: pointer;
  user-select: none;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.login__container .login__wrapper {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 300px;
  border: 1px solid rgb(219, 219, 219);
  margin-top: auto;
}
.login__container .login__wrapper .login__parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

.login-form-fields {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  height: min-content;
}

.login-signup-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 10px;
  padding: 15px;
}
.login-signup-prompt p {
  font-size: 0.9rem;
}
.login-signup-prompt p a {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(0, 149, 248);
}

.forgot-password-link {
  font-weight: bold;
  font-size: 0.73rem;
  color: rgb(82, 179, 231);
  margin-left: auto;
  margin-bottom: 10px;
}

.login-form-submit-btn {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: auto;
}

.login-error-message {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 0.8rem;
  width: 80%;
  color: red;
}

.login-footer {
  margin-top: auto;
  margin-bottom: 20px;
  color: rgb(115, 115, 138);
  font-size: small;
}

.sidebar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5555;
  bottom: 0;
  border-top: 1px solid rgb(204, 204, 204);
  background-color: white;
}
@media (min-width: 768px) {
  .sidebar__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-right: 1px solid rgb(204, 204, 204);
    top: 0;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .sidebar__container.sidebar__show-search-tab {
    position: relative;
    width: 15%;
  }
  .sidebar__container.sidebar__show-search-tab .sidebar-logo .sidebar__logo-text {
    display: none;
  }
  .sidebar__container.sidebar__show-search-tab .sidebar-logo .sidebar__logo-icon {
    display: block;
  }
  .sidebar__container.sidebar__show-search-tab .sidebar-tab-lists li:nth-child(2) div {
    border: 1px solid #ccc;
  }
  .sidebar__container.sidebar__show-search-tab .sidebar-tab-lists li div {
    justify-content: center;
    padding-left: 0;
    height: 5vh;
  }
  .sidebar__container.sidebar__show-search-tab .sidebar-tab-lists li div svg {
    width: 65%;
    height: 100%;
  }
  .sidebar__container.sidebar__show-search-tab .sidebar-tab-lists li div span {
    display: none;
  }
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  margin-top: 2.5vh;
  display: none;
}
@media (min-width: 768px) {
  .sidebar-logo {
    display: block;
  }
}

.sidebar-logo__text {
  width: 8vw;
  height: 100%;
  cursor: pointer;
  display: none;
  margin-left: 10%;
}
@media (min-width: 1200px) {
  .sidebar-logo__text {
    display: block;
  }
}

.sidebar-logo__icon {
  width: 100%;
  height: 45%;
  cursor: pointer;
  display: none;
  margin: auto;
}
@media (min-width: 768px) {
  .sidebar-logo__icon {
    display: block;
  }
}
@media (min-width: 1200px) {
  .sidebar-logo__icon {
    display: none;
  }
}

.sidebar-tab-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 768px) {
  .sidebar-tab-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
}

.sidebar-tab-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px;
}
@media (min-width: 320px) {
  .sidebar-tab-card:nth-child(n+1) + :nth-child(-n+2) {
    display: none;
  }
}
@media (min-width: 768px) {
  .sidebar-tab-card:nth-child(n+1) + :nth-child(-n+2) {
    display: flex;
  }
}
.sidebar-tab-card div {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  border-radius: 9px;
}
.sidebar-tab-card div:hover {
  background-color: rgb(242, 242, 242);
}
.sidebar-tab-card div svg {
  width: 100%;
  height: 3.2vh;
  position: relative;
}
@media (min-width: 1200px) {
  .sidebar-tab-card div svg {
    width: 30%;
    height: 3.2vh;
  }
}

.sidebar-icon-name {
  display: none;
  text-decoration: "none";
  color: "black";
}
@media (min-width: 1200px) {
  .sidebar-icon-name {
    display: block;
  }
}

.sidebar-burger {
  margin: auto auto 15% auto;
  cursor: pointer;
  display: none;
}
@media (min-width: 768px) {
  .sidebar-burger {
    display: block;
  }
}

.profile, .explore__container {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  order: 1;
  overflow-y: scroll;
}
.profile .profile__container, .explore__container .profile__container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .profile .profile__container, .explore__container .profile__container {
    max-width: 67%;
    max-height: 100%;
  }
}
@media (min-width: 768px) {
  .profile, .explore__container {
    width: 100%;
    height: 100vh;
    order: 2;
    padding: 1.5rem;
  }
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: min-content;
  padding-top: 0.75rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.profile-header > p {
  font-weight: 500;
  font-size: 0.9rem;
  color: black;
}
@media (min-width: 768px) {
  .profile-header {
    display: none;
  }
}

.profile-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: min-content;
}
.profile-user-info .profile-user-info-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 5vw;
  padding: 1em;
}
.profile-user-info .profile-user-info-controls {
  flex: 1;
  min-width: fit-content;
}

.profile-user-avatar {
  width: auto;
  height: auto;
}
.profile-user-avatar img {
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  margin: 10px;
  cursor: pointer;
}
@media (min-width: 738px) {
  .profile-user-avatar img {
    width: 150px;
    height: 150px;
  }
}

.profile-user-controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: min-content;
  gap: 0.5rem;
}
.profile-user-controls p {
  font-size: x-large;
  width: max-content;
  margin-right: 1rem;
}
@media (min-width: 576px) {
  .profile-user-controls {
    flex-direction: row;
  }
}

.profile-user-controls-actions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  max-width: 260px;
  gap: 1em;
}
.profile-user-controls-actions button {
  width: max-content;
  height: min-content;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
  color: black;
  border: none;
  padding: 0.4rem 1rem;
}

.profile-user-info-footer {
  width: 100%;
  border-top: 1px solid rgb(204, 204, 204);
}
@media (min-width: 768px) {
  .profile-user-info-footer {
    display: none;
  }
}

.profile-user-stats, .profile-user-stats-xs, .profile-user-stats-md {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 0.8rem;
}
.profile-user-stats > p:first-child, .profile-user-stats-xs > p:first-child, .profile-user-stats-md > p:first-child {
  font-weight: 700;
  font-size: 0.8rem;
  color: black;
}
.profile-user-stats > div:nth-child(n+2), .profile-user-stats-xs > div:nth-child(n+2), .profile-user-stats-md > div:nth-child(n+2) {
  cursor: pointer;
}

@media (min-width: 768px) {
  .profile-user-stats-xs {
    display: none;
  }
}

.profile-user-stats-md {
  display: none;
}
@media (min-width: 768px) {
  .profile-user-stats-md {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 300px;
    padding: 0;
    margin-top: 1rem;
  }
}

.profile-social-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-social-stats > p:first-child {
  font-weight: 500;
}
.profile-social-stats > p:nth-child(2) {
  font-size: small;
  margin-top: 1px;
}
@media (min-width: 768px) {
  .profile-social-stats {
    flex-direction: row;
  }
  .profile-social-stats > p:first-child {
    margin-right: 5px;
  }
  .profile-social-stats > p:nth-child(2) {
    font-size: medium;
  }
}

.gallery {
  width: 100%;
  height: min-content;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30vw;
  gap: 2px;
  justify-content: center;
  border-top: 1px solid rgb(204, 204, 204);
}
@media (min-width: 768px) {
  .gallery {
    grid-template-rows: 28vw;
  }
}
@media (min-width: 1024px) {
  .gallery {
    grid-template-rows: 19.5vw;
  }
}

.gallery-pictures {
  position: relative;
  cursor: pointer;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.picture .pictures-hover-card {
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: none;
}
.picture .pictures-hover-card .pictures-hover__icon-heart {
  width: 20px;
  margin-right: 1vw;
}
.picture .pictures-hover-card .pictures-hover__icon-comment {
  width: 30px;
  height: 20px;
  margin-right: 0.5vw;
}
.picture:hover .pictures-hover-card {
  display: flex;
  position: relative;
  z-index: 2;
}
.picture:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.message {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
}
@media (min-width: 768px) {
  .message {
    order: 2;
  }
}
.message .message__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  border-left: none;
}

.message-chat-box {
  width: auto;
  height: 100%;
  flex: 2;
  position: relative;
  border-left: 1px solid rgb(204, 204, 204);
}
@media (min-width: 768px) {
  .message-chat-box {
    flex: 1;
  }
}

.message-not-view, .chat-box-start-conversation {
  color: rgb(204, 204, 204);
  font-size: 1.5rem;
  text-align: center;
}

.message-sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 0.8;
  max-width: 140px;
}
@media (min-width: 768px) {
  .message-sidebar {
    flex: 1;
    max-width: 400px;
  }
}

.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 12.5%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.header-new-message {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header-switch-account {
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-switch-account {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}
.header-switch-account p {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
}
.header-switch-account .header-switch-account-icon {
  width: 15px;
  height: 15px;
  margin: auto 0 3px 3px;
}

.chat-history {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .chat-history {
    align-items: flex-start;
  }
}
.chat-history > p {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 1rem;
  color: black;
  margin-bottom: 5px;
  display: none;
}
@media (min-width: 768px) {
  .chat-history > p {
    display: block;
  }
}

.chat-history-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.history-recipient-card, .history-recipient-card-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .history-recipient-card, .history-recipient-card-active {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
.history-recipient-card .history-recipient-card-avatar, .history-recipient-card-active .history-recipient-card-avatar {
  width: 30px;
  height: 25px;
}
.history-recipient-card .history-recipient-name, .history-recipient-card-active .history-recipient-name {
  display: none;
}
@media (min-width: 768px) {
  .history-recipient-card .history-recipient-name, .history-recipient-card-active .history-recipient-name {
    display: block;
  }
}
.history-recipient-card:hover, .history-recipient-card-active:hover {
  background-color: rgb(250, 250, 250);
}

.history-recipient-card-active {
  background-color: rgb(240, 240, 240);
}

.chat-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.chat-message-list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.chat-message-list .chat-message-list-observer {
  width: 100%;
  height: auto;
  /* sticks to the top in a reversed column direction */
  /* also,  to prevent the scrollbar from moving to the top end */
  position: -webkit-sticky;
  position: sticky;
  bottom: 0; /* in column-reverse, this makes it stick to the top */
  border-top: 1px solid transparent;
  /* ensures it appears at the top of the flex container */
  order: 1;
}

.chat-box-submission {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 90%;
  height: max-content;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 1px solid rgb(204, 204, 204);
  margin: 15px auto;
}
.chat-box-submission form {
  display: flex;
  width: 100%;
}
.chat-box-submission .chat-box-send-button {
  width: max-content;
  height: max-content;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(0, 149, 248);
  cursor: pointer;
  align-self: center;
  border: none;
  background-color: white;
}

.chat-box-input {
  width: 100%;
  padding: 10px 10px;
  display: block;
  resize: none;
  outline: none;
  border: none;
  overflow-x: hidden;
}

.chat-box-emoji {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: 0 2px;
  height: 100%;
}

.chat-box-emoji-picker {
  position: absolute;
  width: 300px;
  top: -470px;
}

.chat-box-emoji-modal {
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  cursor: pointer;
}

.chat-box-message-card {
  padding: 3px;
  width: 100%;
}
.chat-box-message-card .chat-box-message-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: 100%;
  gap: 0.8%;
}
.chat-box-message-card .chat-box-message-card-container .chat-box-message-card-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.chat-box-message-card .chat-box-message-card-container .chat-box-message-card-text {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(29, 117, 238);
}

.chat-box-message-own-card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.chat-box-message-own-card .chat-box-message-card-own-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-direction: row-reverse;
  gap: 0.8%;
}

.feed-container {
  display: flex;
  flex-direction: column;
  padding: 3vh 0 3vh 3vh;
  height: 100%;
  flex: 1;
  overflow-y: scroll;
}
.feed-container .img-loading {
  width: 30px;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.feed-container .post-card-container {
  border: 1px solid #ccc;
  width: 45%;
  border-radius: 2%;
  box-shadow: 0 0 4px 0 rgb(177, 177, 177);
  margin-bottom: 20px;
}
.feed-container .post-card-container .post-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  padding: 1%;
}
.feed-container .post-card-container .post-card__header .post-card__header-avatar {
  width: 7%;
  height: 4.2vh;
  max-height: 100%;
  border-radius: 100%;
}
.feed-container .post-card-container .post-card__header .post-card__header-settings {
  margin-left: auto;
  width: 3%;
}
.feed-container .post-card-container .post-card__body {
  border-top: 1px solid #ccc;
}
.feed-container .post-card-container .post-card__body .post-card__body-post {
  max-width: 100%;
  height: 60vh;
  max-height: 100%;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container {
  display: flex;
  gap: 0.5vw;
  padding: 0 0.5vw 0 0.5vw;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container img {
  max-width: 4.5%;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container :nth-child(3) {
  max-width: 4%;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container :nth-child(4) {
  margin-left: auto;
}
.feed-container .post-card-container .post-card__details {
  padding: 1% 0.5vw;
}
.feed-container .post-card-container .post-card__details .post-card__details-meta {
  color: #9c9c9c;
}
.feed-container .post-card-container .post-card__details .post-card__details-meta p:nth-child(2) {
  margin-top: 1%;
  font-size: 0.7em;
}
.feed-container .post-card-container .post-card__comment {
  display: flex;
  gap: 1%;
  padding: 1% 0.5vw;
  align-items: center;
  border-top: 1px solid #ccc;
}
.feed-container .post-card-container .post-card__comment img {
  width: 4%;
  height: 3vh;
  margin-right: 2%;
}
.feed-container .post-card-container .post-card__comment input {
  border: none;
  height: 3.2vh;
  flex: 1;
}

.first-load {
  position: absolute;
  margin: 0 auto;
  inset: 20px 0 0 0;
  width: 30px;
  display: block;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.index__container {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.index__container .index__sidebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  order: 2;
}
@media (min-width: 768px) {
  .index__container .index__sidebar {
    order: 1;
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .index__container .index__sidebar {
    order: 1;
    width: 14vw;
  }
}
@media (min-width: 768px) {
  .index__container {
    flex-direction: row;
  }
}

.search-bar__container {
  flex: 1;
  height: 100vh;
  border-right: 1px solid #ccc;
}

.search-header__container {
  height: 20%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
.search-header__container h3 {
  margin: auto;
  font-weight: 400;
  width: 90%;
}
.search-header__container input {
  display: block;
  outline: none;
  border: none;
  width: 90%;
  margin: auto;
  padding: 0.6rem;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
}

.search-body__container {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.search-body__container .search-body__list {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}
.search-body__container .search-body__list .search-body__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2rem;
}
.search-body__container .search-body__list .search-body__header h6 {
  font-weight: 600;
}
.search-body__container .search-body__list .search-body__header h6:last-child {
  cursor: pointer;
  color: #0095f6;
}
.search-body__container .search-body__list .search-card__container {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  cursor: pointer;
}
.search-body__container .search-body__list .search-card__container img {
  width: 55px;
}
.search-body__container .search-body__list .search-card__container p:first-child {
  color: black;
  font-weight: 600;
}
.search-body__container .search-body__list .search-card__container p {
  color: rgb(177, 177, 177);
}
.search-body__container .search-body__list .search-card__container svg {
  cursor: pointer;
  margin-left: auto;
}
.search-body__container .search-body__list .search-card__container:hover {
  background-color: rgb(242, 242, 242);
}
.search-body__container .search-body__list .search-body__no-search {
  height: 100%;
  display: inherit;
  align-items: center;
  justify-content: center;
  color: rgba(53, 50, 50, 0.507);
  font-weight: 500;
}

.base-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wrapper-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: white;
}

.new-message-wrapper {
  width: 100%;
  height: 65%;
  max-width: 500px;
  max-height: 500px;
}
.new-message-wrapper .new-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.new-message-wrapper .new-message-container .new-message__search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 2% 0.5%;
  border: 1px solid #ccc;
}
.new-message-wrapper .new-message-container .new-message__search-bar label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-weight: bold;
  flex: 1;
}
.new-message-wrapper .new-message-container button {
  width: 95%;
  height: 8%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 149, 246);
}
.new-message-wrapper .new-message-container button:disabled {
  background-color: rgb(240, 240, 240);
  cursor: not-allowed;
}

.new-message-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  font-weight: bold;
  position: relative;
}
.new-message-header img {
  width: 6%;
  height: auto;
  position: absolute;
  right: 1.2vh;
  margin: 0 auto;
  cursor: pointer;
}

.new-message-search-list {
  width: 100%;
  height: auto;
  flex: 1;
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.new-message-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
  padding: 1%;
}
.new-message-card:hover {
  background-color: rgb(243, 243, 252);
}

.new-message-card-avatar {
  position: relative;
  width: 7.5%;
  aspect-ratio: 1;
  align-self: center;
}
.new-message-card-avatar img {
  width: 70%;
  height: 70%;
  position: absolute;
  inset: 0;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.new-message-card-details {
  width: 100%;
  height: auto;
  text-align: left;
}
.new-message-card-details > div:first-child {
  font-weight: 500;
}

.recipients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.recipients input {
  outline: none;
  border: none;
  margin-left: 1%;
  flex: 1;
}

.recipient-person-card {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-weight: 16px;
  font-size: 500;
  color: rgb(0, 149, 246);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  position: relative;
  padding: 1.5% 2%;
  flex-basis: 0;
  background-color: rgb(224, 241, 255);
}
.recipient-person-card .recipient-person-card-username > p {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 0;
}
.recipient-person-card .recipient-person-card-username > p:hover {
  color: rgb(4, 71, 116);
}

.create-post__parent {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 88888;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-post__parent .create-post__close-modal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  width: 40px;
  cursor: pointer;
}
.create-post__parent .create-post__container, .create-post__parent .create-post__new-post-container {
  width: 32%;
  height: 68%;
  border-radius: 2%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.create-post__parent .create-post__container .create-post__header, .create-post__parent .create-post__new-post-container .create-post__header {
  border-bottom: 1px solid rgba(158, 157, 157, 0.5);
  height: 40px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.create-post__parent .create-post__container .create-post__header p, .create-post__parent .create-post__new-post-container .create-post__header p {
  font-weight: 500;
}
.create-post__parent .create-post__container .create-post__image-container, .create-post__parent .create-post__new-post-container .create-post__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 1%;
  flex: 1;
  height: 100%;
}
.create-post__parent .create-post__container .create-post__image-container .create-post__gallery-icon, .create-post__parent .create-post__new-post-container .create-post__image-container .create-post__gallery-icon {
  width: 70px;
}
.create-post__parent .create-post__container .create-post__image-container .create-post__select-image-btn, .create-post__parent .create-post__new-post-container .create-post__image-container .create-post__select-image-btn {
  border: none;
  background-color: rgb(0, 149, 246);
  color: white;
  border-radius: 10px;
  padding: 2px 10px 5px 10px;
  cursor: pointer;
}
.create-post__parent .create-post__new-post-container {
  width: 50%;
}
.create-post__parent .create-post__new-post-container .create-post__post-container {
  display: flex;
  height: 100%;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta {
  width: 40%;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta .create-post__post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta .create-post__post-user div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 5vh;
  margin-right: 0.2vh;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta .create-post__post-user div img {
  width: 4vh;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 70%;
  padding: 5px 13px;
  display: block;
  border: none;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta textarea + p {
  text-align: right;
  margin-right: 5px;
  color: #ccc;
  font-size: 1.8vh;
}

.follow-modal__container, .switch-account__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-modal__container .follow-modal__parent, .switch-account__container .follow-modal__parent, .switch-account__container .switch-account__parent {
  background-color: white;
  width: 26%;
  height: 55%;
  border-radius: 3%;
  overflow: hidden;
}
.follow-modal__container .follow-modal__parent .follow-modal__title, .switch-account__container .follow-modal__parent .follow-modal__title, .switch-account__container .switch-account__parent .follow-modal__title {
  padding: 10px;
  border-bottom: 1px #dfdfdf solid;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.follow-modal__container .follow-modal__parent .follow-modal__title img, .switch-account__container .follow-modal__parent .follow-modal__title img, .switch-account__container .switch-account__parent .follow-modal__title img {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container, .switch-account__container .follow-modal__parent .follow-modal__list-container, .switch-account__container .switch-account__parent .follow-modal__list-container {
  overflow-y: auto;
  height: 91.2%;
  overflow-y: scroll;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card {
  margin: 5px 15px;
  display: flex;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__avatar, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__avatar, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__avatar {
  width: 50px;
  height: 40px;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  cursor: pointer;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
  background-color: rgb(0, 149, 246);
  color: white;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
  cursor: default;
  opacity: 0.6;
}

.switch-account__container .switch-account__parent {
  display: flex;
  flex-direction: column;
}
.switch-account__container .switch-account__parent .switch-account__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-weight: bold;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.switch-account__container .switch-account__parent .switch-account__header img {
  position: absolute;
  right: 1.2vh;
  margin: 0 auto;
  width: 6%;
  cursor: pointer;
}
.switch-account__container .switch-account__parent .switch-account__existing-account {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 2%;
}
.switch-account__container .switch-account__parent .switch-account__existing-account img {
  width: 13%;
}
.switch-account__container .switch-account__parent .switch-account__footer {
  display: inherit;
  justify-content: center;
  margin-top: auto;
  padding: 3%;
  border-top: 1px solid #ccc;
  font-weight: 500;
  color: rgb(0, 149, 246);
}
.switch-account__container .switch-account__parent .switch-account__footer p {
  font-size: 2vh;
  cursor: pointer;
}
.switch-account__container .switch-account__parent .switch-account__footer :hover {
  color: rgb(4, 71, 116);
}

/*# sourceMappingURL=index.css.map */
