.scrollView {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollView::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.feed-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vh 0 3vh 0;
  height: 100%;
  flex: 1;
  overflow-y: scroll;
  align-items: center;
}
.feed-container .img-loading {
  width: 30px;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.feed-container .post-card-container {
  border: 1px solid #ccc;
  width: 35%;
  border-radius: 2%;
  box-shadow: 0 0 4px 0 rgb(177, 177, 177);
  margin-bottom: 20px;
}
.feed-container .post-card-container .post-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  padding: 1%;
}
.feed-container .post-card-container .post-card__header .post-card__header-avatar {
  width: 7%;
  height: 4.2vh;
  max-height: 100%;
  border-radius: 100%;
}
.feed-container .post-card-container .post-card__header .post-card__header-settings {
  margin-left: auto;
  width: 3%;
}
.feed-container .post-card-container .post-card__body {
  border-top: 1px solid #ccc;
}
.feed-container .post-card-container .post-card__body .post-card__body-post {
  max-width: 100%;
  height: 60vh;
  max-height: 100%;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container {
  display: flex;
  gap: 0.5vw;
  padding: 0 0.5vw 0 0.5vw;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container img {
  max-width: 4.5%;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container :nth-child(3) {
  max-width: 4%;
}
.feed-container .post-card-container .post-card__body .post-card__body-icons-container :nth-child(4) {
  margin-left: auto;
}
.feed-container .post-card-container .post-card__details {
  padding: 1% 0.5vw;
}
.feed-container .post-card-container .post-card__details .post-card__details-meta {
  color: #9c9c9c;
}
.feed-container .post-card-container .post-card__details .post-card__details-meta p:nth-child(2) {
  margin-top: 1%;
  font-size: 0.7em;
}
.feed-container .post-card-container .post-card__comment {
  display: flex;
  gap: 1%;
  padding: 1% 0.5vw;
  align-items: center;
  border-top: 1px solid #ccc;
}
.feed-container .post-card-container .post-card__comment img {
  width: 4%;
  height: 3vh;
  margin-right: 2%;
}
.feed-container .post-card-container .post-card__comment input {
  border: none;
  height: 3.2vh;
  flex: 1;
}

.first-load {
  position: absolute;
  margin: 0 auto;
  inset: 20px 0 0 0;
  width: 30px;
  display: block;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.chat__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat__container .chat__message-list {
  flex: 1;
  overflow-y: auto;
}
.chat__container .chat__message-list .chat__other-container {
  padding: 0.3%;
}
.chat__container .chat__message-list .chat__other-container .chat__other-message {
  height: 100%;
  display: flex;
  gap: 0.8%;
  align-items: center;
}
.chat__container .chat__message-list .chat__other-container .chat__other-message .chat__other-picture {
  width: 4.6%;
  height: 29px;
  border-radius: 100%;
}
.chat__container .chat__message-list .chat__other-container .chat__other-message .chat__other-text {
  margin-right: 3%;
  background-color: #1d75ee;
  border: 1px solid;
  border-radius: 15px;
  color: white;
  padding: 1%;
}
.chat__container .chat__message-list .chat__own-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.3%;
}
.chat__container .chat__message-list .chat__own-container .chat__own-message {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.8%;
  flex-direction: row-reverse;
}
.chat__container .chat__message-list .chat__own-container .chat__own-message .chat__own-picture {
  width: 4.6%;
  height: 29px;
  border-radius: 100%;
}
.chat__container .chat__message-list .chat__own-container .chat__own-message .chat__own-text {
  background-color: #1d75ee;
  border: 1px solid;
  border-radius: 15px;
  color: white;
  padding: 1%;
  margin-left: 3%;
}
.chat__container .chat__input-container {
  border: 1px solid #ccc;
  margin: 1%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}
.chat__container .chat__input-container form {
  display: flex;
  width: 100%;
}
.chat__container .chat__input-container .chat__input-box {
  resize: none;
  width: 100%;
  overflow-x: hidden;
  display: block;
  outline: none;
  border: none;
  padding: 8px 9px;
  height: 0px;
}
.chat__container .chat__input-container .chat__input-box-btn {
  border: none;
  cursor: pointer;
  background-color: white;
  height: max-content;
  width: max-content;
  align-self: center;
  margin: 1%;
}
.chat__container .chat__input-container .chat__emoji-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1%;
}
.chat__container .chat__input-container .chat__emoji-container .chat__emoji-modal {
  width: 20px;
  cursor: pointer;
  margin: 0 5px;
}
.chat__container .chat__input-container .chat__emoji-container .chat__emoji-parent {
  position: absolute;
  top: -470px;
  left: 20px;
}

.profile-gallery__container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 20vw;
  grid-gap: 1vw;
  width: 80%;
  margin: 10px auto;
  justify-content: center;
  height: min-content;
}
.profile-gallery__container .profile-gallery__card {
  position: relative;
  cursor: pointer;
}
.profile-gallery__container .profile-gallery__card .profile-gallery__post-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  justify-content: center;
  align-items: center;
  gap: 1.2vw;
}
.profile-gallery__container .profile-gallery__card .profile-gallery__post-container .profile-gallery__hover {
  display: none;
  color: white;
  font-weight: bold;
}
.profile-gallery__container .profile-gallery__card .profile-gallery__post-container .profile-gallery__hover .profile-gallery__icon-heart {
  width: 20px;
  margin-right: 1vw;
}
.profile-gallery__container .profile-gallery__card .profile-gallery__post-container .profile-gallery__hover .profile-gallery__icon-comment {
  width: 30px;
  height: 20px;
  margin-right: 0.5vw;
}
.profile-gallery__container .profile-gallery__card .profile-gallery__post-container:hover .profile-gallery__hover {
  display: flex;
  position: relative;
  z-index: 2;
}
.profile-gallery__container .profile-gallery__card .profile-gallery__post-container:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.login-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50%;
  gap: 0.5rem;
}
.login-form__container div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.login-form__container a {
  font-weight: bold;
  margin-left: auto;
  font-size: 0.8rem;
}

.text-input__container {
  position: relative;
}
@keyframes move-top {
  from {
    margin: 11px 0 0 0.35rem;
    font-size: 0.8rem;
  }
  to {
    margin: 0 0 0 0.35rem;
    font-size: 0.6rem;
  }
}
@keyframes move-down {
  from {
    margin: 11px 0 0 0.35rem;
    font-size: 0.6rem;
  }
  to {
    margin: auto 0.35rem;
  }
}
.text-input__container input {
  position: relative;
  height: 40px;
  border: none;
  font-size: 15px;
  outline: 1px solid rgb(219, 219, 219);
  background-color: rgb(250, 250, 250);
  padding: 17px 6px 4px 6px;
}
.text-input__container span {
  background-color: rgb(250, 250, 250);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2.5vw;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}
.text-input__container label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0.35rem;
  color: rgb(0, 149, 246);
  font-size: 0.8rem;
  pointer-events: none;
  user-select: none;
  height: fit-content;
}
.text-input__container input:not(:focus) + label {
  animation: move-down 0.3s forwards;
}
.text-input__container input:focus + label {
  animation: move-top 0.3s forwards;
}
.text-input__container input:valid + label {
  animation: move-top 0.3s forwards;
}

.profile__container, .explore__container {
  flex: 1;
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;
}
.profile__container .profile__header, .explore__container .profile__header {
  display: flex;
  justify-content: flex-start;
  padding: 1% 1% 1% 10.5%;
  width: 100%;
  height: min-content;
  border-bottom: 1px solid #ccc;
}
.profile__container .profile__header .profile__avatar-container, .explore__container .profile__header .profile__avatar-container {
  position: relative;
  border-radius: 50%;
  width: 19%;
  height: 30vh;
  margin-right: 1%;
  border: 1px solid black;
}
.profile__container .profile__header .profile__avatar-container .profile_avatar, .explore__container .profile__header .profile__avatar-container .profile_avatar {
  margin: auto;
  position: absolute;
  width: 100%;
  inset: 0 0 0 0;
}
.profile__container .profile__header .profile__header-details, .explore__container .profile__header .profile__header-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  height: 70%;
}
.profile__container .profile__header .profile__header-details > p:first-child, .explore__container .profile__header .profile__header-details > p:first-child {
  font-size: 0.8em;
  font-weight: 700;
}
.profile__container .profile__header .profile__header-details .profile__header-username, .explore__container .profile__header .profile__header-details .profile__header-username {
  line-height: 55%;
  height: 50%;
  font-size: 4em;
}
.profile__container .profile__header .profile__header-details .profile__header-numbers, .explore__container .profile__header .profile__header-details .profile__header-numbers {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.message__container {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message__container .message__parent {
  border: 1px solid #ccc;
  border-left: none;
  width: 75%;
  height: 94%;
  border-radius: 5px;
  display: flex;
}
.message__container .message__parent .message__sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.message__container .message__parent .message__sidebar .chat-header__container {
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
  flex: 1;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.message__container .message__parent .message__sidebar .chat-header__container .chat-header__username {
  display: flex;
  width: 60%;
  justify-content: center;
  cursor: pointer;
}
.message__container .message__parent .message__sidebar .chat-header__container .chat-header__username p {
  font-weight: 600;
}
.message__container .message__parent .message__sidebar .chat-header__container .chat-header__username .chat-header__username-icon {
  width: 25px;
  height: 25px;
}
.message__container .message__parent .message__sidebar .chat-header__container .chat-header__new-message-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.message__container .message__parent .message__sidebar .chat-history__container {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 10;
}
.message__container .message__parent .message__sidebar .chat-history__container .chat-history__recipient {
  position: relative;
  width: 100%;
  height: 10%;
  cursor: pointer;
  display: inherit;
  align-items: center;
}
.message__container .message__parent .message__sidebar .chat-history__container .chat-history__recipient:hover {
  background-color: rgb(240, 240, 240);
}
.message__container .message__parent .message__conversation-container {
  flex: 2;
  position: relative;
}
.message__container .message__parent .message__conversation-container .message__not-viewed {
  color: #ccc;
  font-size: 1.5rem;
  text-align: center;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__container .login__wrapper {
  border: 1px solid rgb(219, 219, 219);
  width: 350px;
  height: 48%;
}
.login__container .login__wrapper .login__parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index__container {
  display: flex;
  height: 100vh;
}

.sidebar__container {
  display: inherit;
  flex-direction: column;
  border-right: 1px solid #ccc;
  width: 12%;
  z-index: 5555;
  background-color: white;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar__container .sidebar__logo {
  display: block;
  margin: 0 auto;
  width: 10vw;
}
.sidebar__container .sidebar__links {
  display: inherit;
  flex-direction: column;
}
.sidebar__container .sidebar__links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 1vw;
}
.sidebar__container .sidebar__links li img {
  max-width: 12%;
}
.sidebar__container .sidebar__links li div {
  cursor: pointer;
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  display: inherit;
  align-items: center;
  gap: 3%;
  padding-left: 4%;
}
.sidebar__container .sidebar__links div:hover {
  background-color: rgb(249, 249, 251);
}
.sidebar__container .sidebar__burger {
  width: 13%;
  margin: auto auto 15% auto;
  cursor: pointer;
}

.create-post__parent {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 88888;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-post__parent .create-post__close-modal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  width: 40px;
  cursor: pointer;
}
.create-post__parent .create-post__container, .create-post__parent .create-post__new-post-container {
  width: 32%;
  height: 68%;
  border-radius: 2%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.create-post__parent .create-post__container .create-post__header, .create-post__parent .create-post__new-post-container .create-post__header {
  border-bottom: 1px solid rgba(158, 157, 157, 0.5);
  height: 40px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.create-post__parent .create-post__container .create-post__header p, .create-post__parent .create-post__new-post-container .create-post__header p {
  font-weight: 500;
}
.create-post__parent .create-post__container .create-post__image-container, .create-post__parent .create-post__new-post-container .create-post__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 1%;
  flex: 1;
  height: 100%;
}
.create-post__parent .create-post__container .create-post__image-container .create-post__gallery-icon, .create-post__parent .create-post__new-post-container .create-post__image-container .create-post__gallery-icon {
  width: 70px;
}
.create-post__parent .create-post__container .create-post__image-container .create-post__select-image-btn, .create-post__parent .create-post__new-post-container .create-post__image-container .create-post__select-image-btn {
  border: none;
  background-color: rgb(0, 149, 246);
  color: white;
  border-radius: 10px;
  padding: 2px 10px 5px 10px;
  cursor: pointer;
}
.create-post__parent .create-post__new-post-container {
  width: 50%;
}
.create-post__parent .create-post__new-post-container .create-post__post-container {
  display: flex;
  height: 100%;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta {
  width: 40%;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta .create-post__post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta .create-post__post-user div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 5vh;
  margin-right: 0.2vh;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta .create-post__post-user div img {
  width: 4vh;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 70%;
  padding: 5px 13px;
  display: block;
  border: none;
}
.create-post__parent .create-post__new-post-container .create-post__post-container .create-post__post-meta textarea + p {
  text-align: right;
  margin-right: 5px;
  color: #ccc;
  font-size: 1.8vh;
}

.follow-modal__container, .switch-account__container, .new-message__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-modal__container .follow-modal__parent, .switch-account__container .follow-modal__parent, .switch-account__container .switch-account__parent, .new-message__container .follow-modal__parent, .new-message__container .new-message__parent {
  background-color: white;
  width: 26%;
  height: 55%;
  border-radius: 3%;
  overflow: hidden;
}
.follow-modal__container .follow-modal__parent .follow-modal__title, .switch-account__container .follow-modal__parent .follow-modal__title, .switch-account__container .switch-account__parent .follow-modal__title, .new-message__container .follow-modal__parent .follow-modal__title, .new-message__container .new-message__parent .follow-modal__title {
  padding: 10px;
  border-bottom: 1px #dfdfdf solid;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.follow-modal__container .follow-modal__parent .follow-modal__title img, .switch-account__container .follow-modal__parent .follow-modal__title img, .switch-account__container .switch-account__parent .follow-modal__title img, .new-message__container .follow-modal__parent .follow-modal__title img, .new-message__container .new-message__parent .follow-modal__title img {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container, .switch-account__container .follow-modal__parent .follow-modal__list-container, .switch-account__container .switch-account__parent .follow-modal__list-container, .new-message__container .follow-modal__parent .follow-modal__list-container, .new-message__container .new-message__parent .follow-modal__list-container {
  overflow-y: auto;
  height: 91.2%;
  overflow-y: scroll;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card, .new-message__container .new-message__parent .follow-modal__list-container .item-card {
  margin: 5px 15px;
  display: flex;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__avatar, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__avatar, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__avatar, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__avatar, .new-message__container .new-message__parent .follow-modal__list-container .item-card .item-card__avatar {
  width: 50px;
  height: 40px;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item, .new-message__container .new-message__parent .follow-modal__list-container .item-card .item-card__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  cursor: pointer;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn, .new-message__container .new-message__parent .follow-modal__list-container .item-card .item-card__item .item-card__flw-btn {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn, .new-message__container .new-message__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-flw-btn {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
  background-color: rgb(0, 149, 246);
  color: white;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn, .new-message__container .new-message__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
}
.follow-modal__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled, .switch-account__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled, .switch-account__container .switch-account__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled, .new-message__container .follow-modal__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled, .new-message__container .new-message__parent .follow-modal__list-container .item-card .item-card__item .item-card__rmv-btn:disabled {
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 25%;
  height: 80%;
  font-size: 0.9em;
  border-radius: 8px;
  cursor: default;
  opacity: 0.6;
}

.new-message__container .new-message__parent {
  width: 35%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-message__container .new-message__parent .new-message__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-weight: bold;
  position: relative;
  width: 100%;
}
.new-message__container .new-message__parent .new-message__header img {
  position: absolute;
  right: 1.2vh;
  margin: 0 auto;
  width: 6%;
  cursor: pointer;
}
.new-message__container .new-message__parent .new-message__search-bar {
  display: flex;
  width: 100%;
  padding: 2% 0.5%;
  border: 1px solid #ccc;
}
.new-message__container .new-message__parent .new-message__search-bar label {
  font-weight: bold;
  height: auto;
  display: flex;
  flex: 1;
}
.new-message__container .new-message__parent .new-message__search-list {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1%;
}
.new-message__container .new-message__parent .new-message__search-list .new-message__person {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 1%;
}
.new-message__container .new-message__parent .new-message__search-list .new-message__person .new-message__avatar {
  position: relative;
  width: 10%;
  aspect-ratio: 1;
}
.new-message__container .new-message__parent .new-message__search-list .new-message__person .new-message__avatar img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
.new-message__container .new-message__parent .new-message__search-list .new-message__person .new-message__person-details {
  width: 100%;
  text-align: left;
}
.new-message__container .new-message__parent .new-message__search-list .new-message__person .new-message__person-details p:first-child {
  font-weight: 500;
}
.new-message__container .new-message__parent .new-message__search-list .new-message__person:hover {
  background-color: rgb(243, 243, 252);
}
.new-message__container .new-message__parent button {
  height: 8%;
  width: 95%;
  margin: 3% 0;
  border-radius: 1vh;
  outline: none;
  border: none;
  background-color: rgb(0, 149, 246);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.new-message__container .new-message__parent button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.recipients__container {
  padding: 0 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}
.recipients__container .recipients__selected-person {
  cursor: pointer;
  margin: 0 1% 1% 1%;
  padding: 1.5% 2%;
  background-color: rgb(224, 241, 255);
  color: rgb(0, 149, 246);
  border-radius: 1.7vh;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-basis: 0;
  align-items: center;
}
.recipients__container .recipients__selected-person p {
  margin: 0 0.6vh;
  line-height: 0;
}
.recipients__container :hover p {
  color: rgb(4, 71, 116);
}
.recipients__container input {
  outline: none;
  border: none;
  margin-left: 1%;
  flex: 1;
}

.switch-account__container .switch-account__parent {
  display: flex;
  flex-direction: column;
}
.switch-account__container .switch-account__parent .switch-account__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-weight: bold;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.switch-account__container .switch-account__parent .switch-account__header img {
  position: absolute;
  right: 1.2vh;
  margin: 0 auto;
  width: 6%;
  cursor: pointer;
}
.switch-account__container .switch-account__parent .switch-account__existing-account {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 2%;
}
.switch-account__container .switch-account__parent .switch-account__existing-account img {
  width: 13%;
}
.switch-account__container .switch-account__parent .switch-account__footer {
  display: inherit;
  justify-content: center;
  margin-top: auto;
  padding: 3%;
  border-top: 1px solid #ccc;
  font-weight: 500;
  color: rgb(0, 149, 246);
}
.switch-account__container .switch-account__parent .switch-account__footer p {
  font-size: 2vh;
  cursor: pointer;
}
.switch-account__container .switch-account__parent .switch-account__footer :hover {
  color: rgb(4, 71, 116);
}

/*# sourceMappingURL=index.css.map */
