@import "./_colors";
@import "../styles/pages/_Feed";


@import "./component/_Chat";
@import "./component/_ProfileGallery";

@import "./pages/_Explore";
@import "./pages/_Profile";
@import "./pages/_Message";
@import '../styles/pages/Index';

@import "../styles/shared/component/_Sidebar";
@import "./shared/modals/_CreatePost";
@import "./shared/modals/_FollowModal";
@import "./shared/modals/_NewMessage";
@import "./shared/component/_Recipients";
@import "./shared/modals/_SwitchAccount";

.scrollView{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollView::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px; 
}

