.scrollView{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollView::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px; 
}


@import "./Colors.scss";
@import "./FontSize.scss";
@import "../styles/pages/Feed.scss";

@import "./component/Chat.scss";
@import "./component/ProfileGallery.scss";
@import "./component/LoginForm.scss";
@import "./component/FormControllers/TextInput.scss";

@import "./pages/Explore.scss";
@import "./pages/Profile.scss";
@import "./pages/Message.scss";
@import "./pages/Login.scss";
@import './pages/Index.scss';

@import "../styles/shared/component/Sidebar.scss";
@import "../styles/shared/component/SearchBar.scss";
@import "../styles/shared/component/SearchBarHeader.scss";
@import "../styles/shared/component/SearchBarBody.scss";

@import "./shared/modals/CreatePost.scss";
@import "./shared/modals/FollowModal.scss";
@import "./shared/modals/NewMessage.scss";
@import "./shared/component/Recipients.scss";
@import "./shared/modals/SwitchAccount.scss";


